ItemName{
    Color:red ;
    Font-family: copperplate Gothic Light;
    Font-size: 16pt;
    Font: bold;
}
ItemPrice{
    Color: yellow;
    font-family: Arial;
    font-size: 12pt;
    font: bold;

}
Quantity{
    Color: yellow;
    font-family: Arial;
    font-size: 12pt;
    font: bold;
}